<div class="kurrency-menu" ng-class="{'logged-in': kurrency.auth.loggedIn(), 'open': showing}">
  <ul class="menu-wrapper">
    <li class="sign-in"><a href ng-click="toggle('login')" kurrency-popover="'Sign In'" ng-class="checkClass('login')"><span class="kicon-login"></span></a></li>
    <li class="account"><a href ng-click="toggle('account')" kurrency-popover="'Account'" ng-class="checkClass('account')"><span class="kicon-account"></span></a></li>
    <li class="cart"><a href ng-click="toggle('cart')" kurrency-popover="'Shipping Cart'" ng-class="checkClass('cart')"><span class="kicon-cart"></span></a></li>
    <li class="wishlist"><a href ng-click="toggle('wishlist')" kurrency-popover="'Wishlist'" ng-class="checkClass('wishlist')"><span class="kicon-wishlist"></span></a></li>
    <li class="contact"><a href kurrency-popover="'Contact'" ng-click="toggle('contact')" ng-class="checkClass('contact')"><span class="kicon-contact"></span></a></li>
    <li class="sign-out"><a href kurrency-popover="'Sign Out'" ng-click="kurrency.auth.signOut()"><span class="kicon-sign_out"></span></a></li>
  </ul>
  <div class="kurrency-loading" ng-class="{active: (apiLoading > 0)}"><div class="loading-indicator">Loading...</div></div>
  <div class="kurrency-sidebar kurrency-cart" ng-class="{active: show('cart')}">
    <div class="closer"><a href ng-click="close()"><span class="kicon-close"></span></a></div>
    <div class="kurrency-container">
      <h1>Shopping Cart</h1>
      <div ng-show="!cart || !cart.length">
        <p>You have nothing in your cart</p>
        <button type="button" class="kurrency-button" ng-click="close()">Continue Shopping</button>
      </div>
      <div ng-show="cart && cart.length">
        <ul>
          <li ng-repeat="product in cart">

          </li>
        </ul>
        <button type="button" class="kurrency-button checkout-button" ng-click="toggle('checkout', 'cart')">Checkout</button>
      </div>
    </div>
  </div>
  <div class="kurrency-sidebar kurrency-wishlist" ng-class="{active: show('wishlist')}">
    <div class="closer">
      <a href class="back" ng-show="back" ng-click="toggle(back)"><span class="kicon-arrow-left"></span></a>
      <a href ng-click="close()"><span class="kicon-close"></span></a>
    </div>
    <div class="kurrency-container">
      <h1>Wishlist</h1>
      <div ng-show="!wishlist || !wishlist.length">
        <p>You have nothing in your wishlist</p>
        <button type="button" class="kurrency-button" ng-click="close()">Continue Shopping</button>
      </div>
      <div ng-show="wishlist && wishlist.length">
        <ul>
          <li ng-repeat="product in cart">

          </li>
        </ul>
        <button type="button" class="kurrency-button share-wishlist-button" ng-click="toggle('share-wishlist', 'wishlist')">Share my wishlist</button>
      </div>
    </div>
  </div>
  <div class="kurrency-sidebar kurrency-login" ng-class="{active: show('login')}">
    <div class="closer">
      <a href class="back" ng-show="back" ng-click="toggle(back)"><span class="kicon-arrow-left"></span></a>
      <a href ng-click="close()"><span class="kicon-close"></span></a>
    </div>
    <div class="kurrency-container">
      <h1>Sign In</h1>
      <p>Sign into your Kurrency account.</p>
      <div class="alerts">
        <div ng-repeat="alert in messages['login']" class="alert-{{alert.type}}">{{alert.message}}</div>
      </div>
      <form ng-submit="loginUser()">
        <input class="kurrency-input" type="text" ng-model="login.username" placeholder="Enter your username or email">
        <input class="kurrency-input" type="password" ng-model="login.password" placeholder="Enter your password">
        <button type="submit" class="kurrency-button login-button">Sign In</button>
        <button type="button" class="kurrency-button small forgot-password" ng-click="toggle('forgot-password', 'login')">Forgot your password?</button>
        <p>Don't have an account?</p>
        <button type="button" class="kurrency-button small register-button" ng-click="toggle('register', 'login')">Register Now</button>
      </form>
    </div>
  </div>
  <div class="kurrency-sidebar kurrency-forgot-password" ng-class="{active: show('forgot-password')}">
    <div class="closer">
      <a href class="back" ng-show="back" ng-click="toggle(back)"><span class="kicon-arrow-left"></span></a>
      <a href ng-click="close()"><span class="kicon-close"></span></a>
    </div>
    <div class="kurrency-container">
      <h1>Forgot My Password</h1>
      <p>Enter your email address and we will send you instructions to reset your password</p>
      <div class="alerts">
        <div ng-repeat="alert in messages['forgot-password']" class="alert-{{alert.type}}">{{alert.message}}</div>
      </div>
      <form ng-submit="forgotPassword()">
        <input class="kurrency-input" type="text" ng-model="forgot.email" placeholder="Enter your email address">
        <button class="kurrency-button" type="submit" class="login-button">Send Those Instructions</button>
      </form>
    </div>
  </div>
  <div class="kurrency-sidebar kurrency-register" ng-class="{active: show('register')}">
    <div class="closer">
      <a href class="back" ng-show="back" ng-click="toggle(back)"><span class="kicon-arrow-left"></span></a>
      <a href ng-click="close()"><span class="kicon-close"></span></a>
    </div>
    <div class="kurrency-container">
      <h1>Register</h1>
      <p>Enter the fields below to get started</p>
      <div class="alerts">
        <div ng-repeat="alert in messages['register']" class="alert-{{alert.type}}">{{alert.message}}</div>
      </div>
      <form ng-submit="registerUser()">
        <input class="kurrency-input" type="text" ng-model="register.first_name" placeholder="Enter your first name">
        <input class="kurrency-input" type="text" ng-model="register.last_name" placeholder="Enter your last name">
        <input class="kurrency-input" type="email" ng-model="register.email" placeholder="Enter your email">
        <input class="kurrency-input" type="password" ng-model="register.password" placeholder="Enter a password">
        <button type="submit" class="kurrency-button register-button">Register</button>
        <p>Already have an account?</p>
        <button type="button" class="kurrency-button small login-button" ng-click="toggle('login', 'register')">Sign in now</button>
      </form>
    </div>
  </div>
  <div class="kurrency-sidebar kurrency-account" ng-class="{active: show('account')}">
    <div class="closer">
      <a href class="back" ng-show="back" ng-click="toggle(back)"><span class="kicon-arrow-left"></span></a>
      <a href ng-click="close()"><span class="kicon-close"></span></a>
    </div>
    <div class="kurrency-container">
      <h1>My Account</h1>
    </div>
  </div>
  <div class="kurrency-sidebar kurrency-contact" ng-class="{active: show('contact')}">
    <div class="closer">
      <a href class="back" ng-show="back" ng-click="toggle(back)"><span class="kicon-arrow-left"></span></a>
      <a href ng-click="close()"><span class="kicon-close"></span></a>
    </div>
    <div class="kurrency-container">
      <h1>Contact Us</h1>
      <p>Fill out the form below and we'll respond as soon as possible</p>
      <div class="alerts">
        <div ng-repeat="alert in messages['contact']" class="alert-{{alert.type}}">{{alert.message}}</div>
      </div>
      <form ng-submit="sendContact()">
        <input class="kurrency-input" type="text" ng-model="contact.name" placeholder="Enter your name">
        <input class="kurrency-input" type="email" ng-model="contact.email" placeholder="Enter your email">
        <textarea rows="3" class="kurrency-input" ng-model="contact.message" placeholder="Enter a message or concern to send to us"></textarea>
        <button type="submit" class="kurrency-button contact-button">Contact</button>
      </form>
    </div>
  </div>
</div>