<h1>Forgot My Password</h1>
<p>Enter your email address and we will send you instructions to reset your password</p>
<div class="alerts">
  <div ng-repeat="alert in messages['forgot-password']" class="alert-{{alert.type}}">{{alert.message}}</div>
</div>
<form ng-submit="forgotPassword()">
  <input class="kurrency-input" type="text" ng-model="forgot.email" placeholder="Enter your email address">
  <button class="kurrency-button send-password-instructions" type="submit" class="login-button">Send Instructions</button>
</form>