<h1>Register</h1>
<p>Enter the fields below to get started</p>
<div class="alerts">
  <div ng-repeat="alert in messages['register']" class="alert-{{alert.type}}">{{alert.message}}</div>
</div>
<form ng-submit="registerUser()">
  <input class="kurrency-input" type="text" ng-model="register.first_name" placeholder="Enter your first name">
  <input class="kurrency-input" type="text" ng-model="register.last_name" placeholder="Enter your last name">
  <input class="kurrency-input" type="email" ng-model="register.email" placeholder="Enter your email">
  <input class="kurrency-input" type="password" ng-model="register.password" placeholder="Enter a password">
  <button type="submit" class="kurrency-button register-button">Register</button>
  <p>Already have an account?</p>
  <button type="button" class="kurrency-button small login-button" ng-click="menuService.toggle('login', 'register')">Sign in now</button>
</form>